.content {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.triangle {
    margin: 0;
    width: 0;
    height: 0;
    border-top: 23vw solid transparent;
    border-left: 35vw solid;
    border-bottom: 23vw solid transparent;
}
.gameText{
    position: absolute;
    left: 50%;
    margin-left: -14vw;
    font-size: 1.7vw;
    color: floralwhite;
}
input{
    width: 12vw;
    height: 1.3vw;
    font-size: 1vw;
    padding: 6px 0 4px 10px;
    border: 1px solid #cecece;
    background: #F6F6f6;
    border-radius: 5px;
    padding-bottom: 5px\0;
}

a{
    color:floralwhite;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    color: darkorange;
}
.slider {
    -webkit-appearance: none;
    padding:0;
    width: 2vw;
    height: 15px;
    border-radius: 20px;
    background: white;
    outline: none;
    -webkit-transition: .1s;
    transition: opacity .1s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 50%;
    background: darkorange;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    cursor: pointer;
}

