.content{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.moveOf{
    font-size: 5vw;
    margin-top: -70px;
    margin-bottom: 50px;
}
.mover{
    color:darkorange;
}
.score{
    font-size: 3vw;
    min-font-size: 30px;
    width: 55vw;
    display: flex;
    justify-direction: row ;
    justify-content: space-between;
    align-items: center;
}
.score span{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-direction: column ;
}
.userM{
    width: 55vw;
    font-size: 2vw;
    display:  flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}
.buttons{
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.buttons button{
    padding:0;
    border:0 ;
    border-radius: 20px;
    margin-left: 20px;
    height: 2.5vw;
    width: 15vw;
    font-size: 2vw;
    background-color: black;
    color: white;
}
.buttons button:hover{
    background-color: darkorange;
    color:white;
}
.stack{

    width:100% ;
}
.slider {
    -webkit-appearance: none;
    padding:0;
    width: 16vw;
    height: 2vw;
    border-radius: 20px;
    background: white;
    outline: none;
    -webkit-transition: .1s;
    transition: opacity .1s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2.3vw;
    height: 2.3vw;
    border-radius: 20px;
    background: darkorange;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 2.3vw;
    height: 2.3vw;
    border-radius: 50%;
    cursor: pointer;
}